{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TRA | Login</title>
        <meta name="description" content="">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.PNG' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <section class="login">
            <div class="container-login">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 lft-logo p-sm-5">
                            <img src="{% static 'images/logo-big.png' %}" alt="">
                        </div>
                        <form method='POST' action='/reset-password/' enctype="multipart/form-data" style="display:contents;">
                            {% csrf_token %}
                            <div class="col-lg-6  col-md-6">
                                <div class="form">
                                    <h3>Verification </h3>
                                    <hr>
                                    
                                    <input type="hidden" class="form-control" name="user_id" value={{user_id}}>
                                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Password</label>
                                        <input type="password" class="form-control" name="password" placeholder="Enter your new password" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm your password" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Enter OTP</label>
                                        <input type="number" class="form-control" name="otp" placeholder="Enter code" required>
                                    </div>

                                    <div class="login-btn text-center mt-5">
                                        <button type="submit">Continue</button>
                                    </div>
                                    {% if message %}
                                        <div
                                        class="alert  text-center text-danger my-3"
                                        role="alert"
                                        style="background-color: None!important;"
                                        >
                                        {{message}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script src="{% static 'js/jquery.slim.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>